@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(36);

  margin-bottom: vw-1490(140);
  & > h1 {
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 336px;
    margin: 0 auto 72px;
    gap: 32px;
  }
}

.nav {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 336px;
  }
}
.navItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  gap: vw-1490(12);

  text-decoration: none;
  border-radius: 6px;
  padding: vw-1490(16) vw-1490(12);
  & > h4 {
    width: vw-1490(248);
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  &:hover {
    background-color: var(--color-grey-1);
  }
}

.iconCategory {
  width: vw-1490(22);
  height: vw-1490(22);
  flex-shrink: 0;
}

.active {
  background-color: var(--color-grey-1);
  & > p {
    color: var(--color-bg);
  }
  & > svg {
    color: var(--color-accent-orange);
  }
}

.content {
  display: flex;
  gap: vw-1490(45);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
  }
}
