@import "../../../shared/styles/functions";

.tablePayment {
  border-spacing: 0;
  border-collapse: collapse;

  width: vw-1490(722);
  height: vw-1490(208);
  border-radius: 6px;
  overflow: hidden;

  th,
  td {
    border: 1px solid #2125311a;
  }
  & > thead > tr {
    & > th {
      box-sizing: border-box;
      width: vw-1490(195);
      height: vw-1490(52);
      // padding-left: 36px;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-text);
      color: var(--color-bg);
    }
    & > td {
      width: vw-1490(263);
      text-align: center;
    }
  }
  & > tbody > tr {
    & > th {
      box-sizing: border-box;
      width: vw-1490(195);
      height: vw-1490(52);
      padding-left: vw-1490(36);

      display: flex;
      align-items: center;
      text-align: left;
      background-color: var(--color-text);
      color: var(--color-bg);
    }
    & > td {
      text-align: center;
    }
  }
}
