.container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.root {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 32px;
  height: 32px;

  border: 1px solid #2125311A;
  border-radius: 4px;
  background-color: var(--color-bg);

  & > button {
    all: unset;
  }

  &:disabled {
    cursor: default;
    background-color: var(--color-grey-1);
  }

  &:focus-visible {
    border-color: var(--color-text);
  }

  &[data-state='checked'] {
      border-color: transparent;
    &:disabled {
      background-color: var(--color-grey-1);
      border-color: #2125311A;
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent-orange);
}

.icon {
  width: 32px;
  height: 32px;
}

// .error {
//   border-radius: var(--border-radius-xs);
//   outline: 2px solid var(--color-danger-500);
//   outline-color: var(--color-danger-500);
//   outline-offset: 2px;
// }

.label {
  color: var(--color-grey-1);
  opacity: 0.8;
  width: 160px;
  &.disabled {
    color: var(--color-accent-red);
  }
}

// .disabledIcon {
//   color: var(--color-light-100);
// }
