.container {
    width: 1296px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > h1 {
        text-align: center;
    }
}

.navigate {
    width: 306px;
    display: flex;
    flex-direction: column;
}
.navItem {
    display: flex;
    align-items: center;
    gap: 12px;

    border-radius: 6px;
    padding: 16px 12px;
    & > h4 {
        width: 248px;
    }
}

.iconCategory {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.active {
    background-color: var(--color-grey-1);
    & > p {
        color: var(--color-bg);
    }
    & > svg {
        color: var(--color-accent-orange);
    }
}

.content {
    display: flex;
    gap: 45px;
}

.table {
    border-spacing: 0;

    width: 945px;
    height: 612px;
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
    & > caption {
        margin-bottom: 24px;
        text-align: left;
    }
    & > thead{
        background-color: var(--color-text);
    }

    & > tbody > tr {
        & > th {
            height: 100%;
            padding-left: 36px;

            display: flex;
            align-items: center;
            text-align: left;
            gap: 4px;
        }
        & > td {
            text-align: center;
        }

    }
}

.tableTitle {
    height: 132px;
    box-sizing: border-box;
    &:first-child {
        width: 281px;
        padding-left: 36px;

        display: flex;
        justify-content: start;
        align-items: center;
    }
    &:not(:first-child) {
        width: 166px;
    }
    & > p {
        color: var(--color-bg);
    }
}