@import "../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(32);

  & > h2 {
    text-align: center;
  }

  @media (max-width: 768px) {
    gap: 24px;
  }
}
