.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > h2 {
        text-align: center;
    }

    @media (max-width: 768px) {
        gap: 24px;
    }
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 24px; 
    row-gap: 32px; 
    justify-content: center; 

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  }
.card {
    display: flex;
    width: 636px;
    height: 313px;
    box-sizing: border-box;

    border-radius: 6px;
    box-shadow: 6px 12px 13px 0px #2225310A;
    overflow: hidden;

    &:last-child{
        grid-column: 1 / -1; /* Третий элемент занимает всю строку */
        justify-self: center; /* Центрирует третий элемент */
    }

    @media (max-width: 768px) {
        flex-direction: column;
        
        width: 336px;
        height: fit-content;    
    }
}
.image {
    object-fit: cover;
    border-radius: 6px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 36px;
    padding-bottom: 0;
    @media (max-width: 768px) {
        padding: 24px 24px 32px;
        gap: 12px;
    }
}