.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        display: flex;
        flex-direction: column;
        gap: 12px;
        & > li {    
            position: relative;
            padding-left: 16px;
            &::before {
                box-sizing: border-box;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(45deg);
                width: 7px;
                height: 7px;
                background-color: var(--color-accent-orange);
                border-radius: 1px;
              }
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
    & > h3 {    
        cursor: pointer;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: var(--color-grey-1);
        &.active {
            color: var(--color-bg);
            background-color: var(--color-accent-orange);
        }
    }
}