@import "../../../../shared/styles/functions";

.container {
  display: flex;
  align-items: center;
  gap: vw-1490(51);
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: vw-1490(24);

  width: vw-1490(374);

  @media (max-width: 768px) {
    gap: 16px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);
}

.input {
  height: vw-1490(58);
}
