@import "../../../shared/styles/variables";
@import "../../../shared/styles/functions";

.button {
  cursor: pointer;

  width: vw-1490(196);
  height: vw-1490(48);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-bg);
  font-family: var(--font-rubik);
  font-size: vw-1490(20);
  font-weight: 400;
  line-height: vw-1490(28);
  text-decoration: none;

  box-sizing: border-box;
  padding: vw-1490(10) vw-1490(12);
  outline: none;
  border: none;
  border-radius: 4px;

  transition: all 0.3s ease;
  &:disabled {
    cursor: default;
  }

  @media (max-width: 768px) {
    width: 196px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
}

.primary {
  border: none;
  background-color: var(--color-accent-orange);

  &:hover {
    background-color: var(--color-text);
  }

  &:active {
    background-color: var(--color-text);
    box-shadow: 0px 0px 8px 0px #21253180;
  }

  &:focus-visible {
    background-color: var(--color-text);
    box-shadow: 0px 0px 8px 0px #21253180;
  }

  &:disabled {
    color: var(--color-grey-3);
    background-color: var(--color-grey-4);
  }

  &.active {
    background-color: var(--color-text);
    box-shadow: 0px 0px 8px 0px #21253180;
  }
}

.secondary {
  border: none;
  background-color: var(--color-text);

  &:hover {
    background-color: var(--color-accent-orange);
  }

  &:active {
    background-color: var(--color-accent-orange);
    box-shadow: 0px 0px 8px 0px #eb5c2080;
  }

  &:focus-visible {
    background-color: var(--color-accent-orange);
    box-shadow: 0px 0px 8px 0px #eb5c2080;
  }

  &:disabled {
    color: var(--color-grey-3);
    background-color: var(--color-grey-4);
  }

  &.active {
    background-color: var(--color-accent-orange);
    box-shadow: 0px 0px 8px 0px #eb5c2080;
  }
}

.icon {
  width: fit-content;
  height: fit-content;
  padding: 12px;

  background-color: transparent;
  outline: 1px solid #7d7d7d33;
  color: var(--color-accent-orange);

  &:hover {
    outline: none;
    color: var(--color-bg);
    background-color: var(--color-accent-orange);
  }

  &:active {
    box-shadow: 0px 0px 8px 0px #eb5c2080;
    outline: none;
    color: var(--color-bg);
    background-color: var(--color-accent-orange);
  }

  &:focus-visible {
    box-shadow: 0px 0px 8px 0px #eb5c2080;
    outline: none;
    color: var(--color-bg);
    background-color: var(--color-accent-orange);
  }

  &:disabled {
    color: var(--color-grey-2);
  }
}

.only_icon {
  width: fit-content;
  height: fit-content;
  padding: 0;

  background-color: transparent;
  color: var(--color-grey-2);

  &:hover {
    color: var(--color-accent-orange);
  }

  &:active {
    color: var(--color-accent-orange);
  }

  &:focus-visible {
    color: var(--color-bg);
  }

  &:disabled {
    color: var(--color-grey-1);
  }
}

.fullWidth {
  width: 100%;
}
