@import "../../../shared/styles/functions";

.container {
  width: vw-1490(306);

  display: flex;
  flex-direction: column;
  gap: vw-1490(20);
  & > h3 {
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 336px;
  }
}

.resetFilter {
  text-decoration: underline;
}

.priceContainer {
  display: flex;
  gap: vw-1490(16);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);
  width: vw-1490(129);
}

.checkbox {
  width: vw-1490(242);
}
