@import "../../../../shared/styles/functions";

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(24);

  @media (max-width: 768px) {
    text-align: center;
  }
}
.tablePayment {
  border-spacing: 0;
  border-collapse: collapse;

  width: vw-1490(945);
  height: vw-1490(294);
  border-radius: 6px;
  overflow: hidden;

  th,
  td {
    border: 1px solid #2125311a;
  }
  & > thead > tr {
    & > th {
      width: vw-1490(281);
      height: vw-1490(51);
      padding-left: vw-1490(36);

      display: flex;
      align-items: center;
      text-align: left;
      background-color: var(--color-text);
      color: var(--color-bg);
    }
    & > td {
      width: vw-1490(332);
      text-align: center;
    }
  }
  & > tbody > tr {
    & > th {
      width: vw-1490(281);
      height: vw-1490(80);
      padding-left: vw-1490(36);

      display: flex;
      align-items: center;
      text-align: left;
      background-color: var(--color-text);
      color: var(--color-bg);
    }
    & > td {
      text-align: center;
    }
  }
}
