.content {
    position: absolute;
    left: 306px;
    box-sizing: border-box;
    min-height: 100%;
    width: 990px;
    padding: 24px 32px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    background-color: var(--color-bg);
}

.contentContainer {
    column-count: 3;
    column-gap: 16px;
}