.title {
    text-align: center;
}

.form {
    width: 1296px;
    padding: 64px 110px;
    box-sizing: border-box;

    border-radius: 6px;
    background-color: var(--color-grey-1);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.flexContainer {
    display: flex;
    gap: 32px;
}

.elem {
    & > h4 {
        margin-bottom: 16px;
    }
}

.inputsWrapper {
    display: flex;
    flex-wrap: wrap;

    gap: 24px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 342px;
}

.input {
    height: 58px;
}

.about {
    height: 145px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;
    & > p {
        color: var(--color-grey-3);
    }
}

.buttonsContainer {
    display: flex;
    gap: 20px;
}