.card {
    width: 196px;
    height: 196px;
    
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    text-decoration: none;

    box-shadow: 2px 3px 7px 0px #2225310D;
    
    @media (max-width: 768px) {
        width: 160px;
    }
}