@import "../../../shared/styles/functions";

.tableDelivery {
  width: vw-1490(722);
  height: vw-1490(352);
  border-collapse: collapse;
  border-spacing: 0;

  border-radius: 6px;
  overflow: hidden;

  & > thead {
    border: 1px solid #2125311a;
    & > tr > th {
      background-color: var(--color-text);
      height: vw-1490(64);
      box-sizing: border-box;
      padding: 0;
      &:first-child {
        width: vw-1490(195);
      }
      &:not(:first-child) {
        width: vw-1490(131);
      }
      &:not(:last-child) {
        border-right: 1px solid #2125311a;
      }
      & > p {
        color: var(--color-bg);
      }
    }
  }

  & > tbody > tr {
    border: 1px solid #2125311a;
  }

  & > tbody > tr {
    & > th {
      height: vw-1490(72);
      padding-left: vw-1490(24);

      display: flex;
      align-items: center;
      text-align: left;
      gap: vw-1490(4);
      border-right: 1px solid #2125311a;
    }
    & > td {
      height: vw-1490(72);
      text-align: center;
      &:not(:last-child) {
        border-right: 1px solid #2125311a;
      }
    }
  }
}
