@import "../../../shared/styles/functions";

.main {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: vw-1490(1296);
  margin: 0 auto;
  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.phone {
  cursor: pointer;
  position: fixed;
  right: vw-1490(-50);
  top: 0;
}
