.container {
    width: 1296px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
    & > h2 {
        text-align: center;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}

.card {
    width: 636px;
    height: 399px;

    display: flex;
    border-radius: 6px;
    box-shadow: 6px 12px 13px 0px #2225310A;
}

.image {
    object-fit: cover;
    border-radius: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 36px;
    box-sizing: border-box;

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        display: flex;
        flex-direction: column;
        gap: 12px;
        & > li {    
            position: relative;
            padding-left: 26px;
            &::before {
                box-sizing: border-box;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%) rotate(45deg);
                width: 7px;
                height: 7px;
                background-color: var(--color-accent-orange);
                border-radius: 1px;
              }
        }
    }
}