@import "../../../shared/styles/functions";

.container {
  position: relative;
  box-sizing: border-box;
  width: vw-1490(1296);
  height: vw-1490(70);

  display: flex;
  align-items: center;
  gap: vw-1490(12);
  background-color: var(--color-accent-orange);
  border-radius: 6px;

  & > .catalogButton {
    gap: vw-1490(10);
    height: 100%;
    width: vw-1490(168);
    box-sizing: border-box;
    & > p {
      color: var(--color-bg);
    }

    & > svg {
      width: vw-1490(28);
      height: vw-1490(19);

      @media (max-width: 768px) {
        width: 28px;
        height: 19px;
      }
    }
  }
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.favorites {
  display: flex;
  min-width: vw-1490(144);
  width: fit-content;
  height: vw-1490(70);
  gap: vw-1490(8);
  padding: 0 vw-1490(10);
}
.shoppingCart {
  display: flex;
  min-width: vw-1490(183);
  width: fit-content;
  height: vw-1490(70);
  gap: vw-1490(8);
  padding: 0 vw-1490(10);

  text-decoration: none;
}

.iconContainer {
  flex-shrink: 0;
  width: vw-1490(48);
  height: vw-1490(48);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text);
  border-radius: 50%;
  background-color: var(--color-bg);

  & > svg {
    width: vw-1490(28);
    height: vw-1490(28);
  }
}

.textContainer {
  & > h6 {
    font-family: var(--font-rubik);
    font-size: vw-1490(16);
    font-weight: 500;
    line-height: vw-1490(22.4);
    text-align: left;
    color: var(--color-bg);
  }
  & > p {
    opacity: 0.7;
    font-family: var(--font-rubik);
    font-size: vw-1490(14);
    font-weight: 400;
    line-height: vw-1490(18.2);
    text-align: left;
    color: var(--color-bg);
  }
}
