@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;

  & > h3 {
    margin-bottom: vw-1490(16);
  }

  @media (max-width: 768px) {
    width: 336px;

    & > h3 {
      text-align: center;
    }
  }
}

.addAddress {
  display: flex;
  flex-direction: column;
  & > p {
    margin-bottom: vw-1490(20);
  }
}

.radioAddress {
  & > div {
    height: vw-1490(143);
    width: vw-1490(460);
    & > div {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      width: 336px;
    }
  }
}

.button {
  width: vw-1490(230);
  height: vw-1490(58);
  @media (max-width: 768px) {
    width: 100%;
  }
}

.cards {
  display: flex;
  gap: vw-1490(25);
  flex-wrap: wrap;
  margin-bottom: vw-1490(32);
}

.card {
  box-sizing: border-box;
  width: vw-1490(460);
  padding: vw-1490(20);
  border: 1px solid #2125314d;
  border-radius: 6px;
  background-color: var(--color-bg);
  box-shadow: 6px 12px 13px 0px #2225310a;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: vw-1490(14);
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: vw-1490(8);
}

.editButton {
  display: flex;
  margin-left: auto;
  margin-top: vw-1490(19);
  text-decoration: underline;
  color: (--color-grey-3);
  cursor: pointer;
}
