@import "../../shared/styles/functions";

.container {
  display: flex;
  height: fit-content;
  width: fit-content;
  border: 1px solid #7d7d7d4d;

  border-radius: 6px;
  overflow: hidden;
}
.navigate {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6px;
  width: vw-1490(306);
  height: 100%;
  @media (max-width: 768px) {
    width: 336px;
  }
}

.category {
  display: flex;
  gap: vw-1490(12);
  align-items: center;

  padding: vw-1490(12);
  background-color: var(--color-grey-1);
  border-bottom: 1px solid #7d7d7d33;
  text-decoration: none;
  & > svg {
    margin-left: auto;
  }
  &:hover {
    background-color: var(--color-text);
    & > p {
      color: var(--color-bg);
    }
    & > svg {
      color: var(--color-accent-orange);
    }
  }

  @media (max-width: 768px) {
    gap: 12px;
    padding: 12px;
  }
}

.active {
  background-color: var(--color-text);
  & > p {
    color: var(--color-bg);
  }
  & > svg {
    color: var(--color-accent-orange);
  }
}

.imageCategory {
  border: 1px solid var(--color-accent-orange);
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--color-bg);
  flex-shrink: 0;
}

.iconCategory {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
