@import "../../../shared/styles/functions";

.wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 336px;
    margin: 0 auto 72px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(140);

  margin-bottom: vw-1490(140);

  @media (max-width: 768px) {
    width: 336px;
    gap: 72px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
  text-align: center;

  margin-bottom: vw-1490(24);
  & > p {
    color: var(--color-grey-2);
  }
}

.content {
  display: flex;
  gap: vw-1490(48);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
  }
}
