@import "../../../shared/styles/functions";

.header {
  box-sizing: border-box;
  width: 100%;
  height: vw-1490(57);

  display: flex;
  justify-content: center;

  background-color: var(--color-grey-1);
}
.headerContainer {
  width: vw-1490(1296);
  height: 100%;

  display: flex;
  align-items: center;
}
.navigate {
  display: flex;
  align-items: center;
  gap: vw-1490(36);
  & > a {
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--color-grey-2);
    &:hover {
      color: var(--color-accent-orange);
    }
  }
}
.navLink {
  text-decoration: none;
  color: var(--color-grey-2);
  display: flex;
  gap: vw-1490(5);
  justify-content: center;
  align-items: center;
}
.shares {
  color: var(--color-accent-orange);

  & > svg {
    width: vw-1490(22);
    height: vw-1490(22);
  }
}
.selectHeader {
  margin-left: vw-1490(53);
  margin-right: vw-1490(12);
}

.profileButton {
  cursor: pointer;
  height: vw-1490(33);
  width: vw-1490(171);
  box-sizing: border-box;
  padding: 0 vw-1490(11);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 4px;
  background-color: var(--color-grey-4);
  color: var(--color-text);
  text-decoration: none;
  text-wrap: nowrap;

  & > svg {
    width: vw-1490(20);
    height: vw-1490(20);
  }

  &:hover {
    color: var(--color-accent-orange);
  }
}

.active {
  color: var(--color-text);
  text-decoration: underline;
}
