.container {
    display: flex;
    flex-direction: column;
    gap: 36px;

    & > h1 {
        text-align: center;
    }
}
.categoryContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px 24px;
}