.container {
    position: fixed;
    right: 10px;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;  
    border-radius: 50%; 
    cursor: pointer; 
}

.phone {
    flex-shrink: 0;
    width: 356px;
    height: 178px;
    pointer-events: none;
}