@import "../../../shared/styles/variables";
@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  &:not(.disabled):hover .iconSearch,
  &:not(.disabled):focus-within .iconSearch {
    color: var(--color-accent-orange);
  }
}

.iconSearch {
  position: absolute;
  top: 50%;
  left: vw-1490(16);
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  width: vw-1490(26);
  height: vw-1490(26);

  color: var(--color-text);

  @media (max-width: 768px) {
    width: 26px;
    height: 26px;
  }
}

.input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  height: vw-1490(50);
  padding: vw-1490(16);

  font-family: var(--font-rubik);
  font-size: vw-1490(16);
  font-weight: 400;
  line-height: vw-1490(19);

  border: 1px solid #2125311a;
  background-color: #ffffff;
  border-radius: 4px;

  transition: border-color 0.3s ease;
  &:disabled {
    pointer-events: none;
    color: #7d7d7d;
  }

  &.search {
    padding-left: vw-1490(52);
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    height: 50px;
    padding: 16px;
  }
}

.placeholder {
  font-size: vw-1490(16);
  font-weight: 400;
  line-height: vw-1490(19);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #7d7d7d;
  pointer-events: none;
  & > span {
    color: var(--color-accent-red);
  }
  @media (max-width: $mobile) {
    font-family: var(--font-onest);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
}

.passwordControl {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: vw-1490(16);
  transform: translateY(-50%);

  display: none;

  padding: 0;

  background: none;
  border: none;

  &:hover {
    background: none;
  }
}

.showIcon {
  display: flex;
}

.error {
  color: var(--color-accent-red);
}

.errorMessage {
  color: var(--color-accent-red);
}

.disabled {
  cursor: default;
  color: #7d7d7d;
}
