.container {
    box-sizing: border-box;
    width: 306px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 768px) {
        gap: 6px; 
        width: 160px;
    }
}

.horizontalContainer {
    width: 100%;
    display: flex;
    gap: 16px;
}
.imageContainer {
    position: relative;
}
.tagsContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;

    top: 16px;
    left: 16px;
    @media (max-width: 768px) {
        top: 12px;
        left: 12px; 
        gap: 4px;
    }
}

.promotion {
    color: var(--color-bg);
    padding: 3px 8px;
    background-color: var(--color-accent-red);
    opacity: 0.6;
    width: fit-content;
    border-radius: 4px;
    @media (max-width: 768px) {
        padding: 2px 4px;
    }
}
.new {
    color: var(--color-bg);
    padding: 3px 8px;
    background-color: var(--color-accent-green);
    opacity: 0.6;
    width: fit-content;
    border-radius: 4px;
}
.popular {
    color: var(--color-bg);
    padding: 3px 10px;
    background-color: var(--color-accent-blue) ;
    opacity: 0.6;
    width: fit-content;
    border-radius: 4px;
}

.favoriteButton {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1000;
    padding: 0;
    color: #21253126;
}

.active {
    color: var(--color-accent-red);
}

.image {
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
}
.text {
    color: var(--color-text);
    margin-bottom: 16px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3rem;
}
.priceContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    & > .discount {
        color: var(--color-accent-red);
    }
    & > span {
        color: var(--color-grey-2);
        text-decoration: line-through;
    }
}

.buttonContainer {
    display: flex;
    gap: 12px;
}

.buttonVertical {
    width: 130px;
    height: 38px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.buttonHorizontal{
    @media (max-width: 768px) {
        padding: 0;
        width: 36px;
        height: 36px;
    }
}