.overlay {
    position: fixed;
    background: #21253180;
    inset: 0;
    z-index: 999;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-out;
}

.content {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 416px;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 46px 32px;    

    background-color: var(--color-bg);
    border-radius: 6px;

    animation: fadeIn 0.3s ease-out;

    & > h3 {
        text-align: center;
    }

    &::-webkit-scrollbar{
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: var(--color-grey-4);
        border-radius: 4px;
        &:hover {
            background-color: var(--color-grey-2);
        }
    }

    &::-webkit-scrollbar-track{
        background-color: transparent;
        border-radius: 4px;
    }
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttonSubmit {
    height: 58px;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;

    padding: 0;
    margin: 0;
    outline: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }