:root {
  // accent
  --color-accent-red: #EE0004;
  --color-accent-green: #11A32C;
  --color-accent-orange: #EB5C20;
  --color-accent-blue: #0A38EE;


  // main
  --color-bg: #FFFFFF;
  --color-grey-1:#F7F7F7;
  --color-grey-2: #7A879B;
  --color-grey-3:#7D7D7D;
  --color-grey-4:#E9E9E9;
  --color-text: #212531;
}