.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > h1 {
        text-align: center;
    }
}
.content {
    display: flex;
    gap: 45px;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 36px;
    }
}

.navigate {
    width: 306px;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        width: 336px;
    }
}
.navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    
    border-radius: 6px;
    padding: 16px 12px;
    & > h4 {
        width: 248px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-grey-1);
    }
}

.iconCategory {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.active {
    background-color: var(--color-grey-1);
    & > p {
        color: var(--color-bg);
    }
    & > svg {
        color: var(--color-accent-orange);
    }
}   