@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(36);

  margin-bottom: vw-1490(140);
  & > h1 {
    text-align: center;
  }
  @media (max-width: 768px) {
    width: 336px;
    margin: 0 auto 72px;
  }
}

.content {
  display: flex;
  gap: vw-1490(66);
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.price {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: vw-1490(306);
  height: fit-content;
  padding: vw-1490(32) vw-1490(24);

  border: 1px solid #2125314d;
  border-radius: 6px;
  box-shadow: 6px 12px 13px 0px #2225310a;

  align-self: flex-start;

  & > button {
    height: vw-1490(58);
  }

  @media (max-width: 768px) {
    width: 336px;
    padding: 24px 16px;
    & > button {
      height: 42px;
    }
  }
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: vw-1490(15);
  &:nth-child(4) {
    border-top: 1px solid #7d7d7d50;
    padding-top: vw-1490(16);
    margin-bottom: vw-1490(24);
  }
}

.form {
  width: vw-1490(924);
  display: flex;
  flex-direction: column;
  gap: vw-1490(24);
  @media (max-width: 768px) {
    width: 100%;
    gap: 20px;
  }
}
