.container {
    width: 336px;
    min-width: 336px;
    display: flex;
    flex-direction: column;
    margin: 12px auto 0;
}

.info {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #21253126;
}

.selectLanguage {
    margin-left: 30px;
    margin-right: 10px;
}

.phoneContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.burgerContainer {
    display: flex;
    gap: 12px;
}

.burgerButton{
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 6px;
}

.buttonIcon {
    padding: 0;
    color: var(--color-text);

    &:hover {
        color: var(--color-accent-orange);
    }
}