@import "../../../shared/styles/functions";

.payment {
  display: flex;
  flex-direction: column;

  padding: vw-1490(32) vw-1490(24);

  background-color: var(--color-bg);
  border: 1px solid #2125314d;
  border-radius: 6px;
  box-shadow: 6px 12px 13px 0px #2225310a;
}

.title {
  display: flex;
  align-items: center;
  gap: vw-1490(8);

  margin-bottom: vw-1490(20);
}

.numCard {
  position: relative;
  & > h3 {
    color: var(--color-bg);
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 768px) {
    & > svg {
      width: 42px;
      height: 42px;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);

  @media (max-width: 768px) {
    & > button {
      height: 50px;
    }
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: vw-1490(24);
}

.card {
  box-sizing: border-box;
  width: vw-1490(275);
  height: vw-1490(121);
  padding: vw-1490(12);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid #2125311a;
  border-radius: 4px;
}

.selectedAdress {
  display: flex;
  flex-direction: column;
  gap: vw-1490(12);
  align-items: start;
  & > button {
    text-decoration: underline;
    margin: vw-1490(16) 0 vw-1490(32);
  }

  @media (max-width: 768px) {
    & > button {
      margin: 20px 0 24px;
    }
  }
}

.deliveryMethod {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
}

.deliveryTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
  @media (max-width: 768px) {
    opacity: 1;
  }
}

.deliveryTimeContainer {
  display: flex;
  gap: vw-1490(24);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.addAddress {
  display: flex;
  flex-direction: column;
  gap: vw-1490(20);
  margin-bottom: vw-1490(32);
}

.addressFields {
  display: flex;
  flex-direction: column;
  gap: vw-1490(12);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);

  @media (max-width: 768px) {
    & > button {
      height: 50px;
    }
  }
}
