@import "../../../shared/styles/functions";

.info {
  width: vw-1490(1296);
  height: vw-1490(70);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  gap: vw-1490(24);
  height: 100%;
}
.workTime {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);

  width: vw-1490(170);
  & > h6 {
    color: #4f5e75;
  }
  & > p {
    color: var(--color-text);
  }
}
.workPhone {
  display: flex;
  flex-direction: column;
  gap: vw-1490(8);
  & > h6 {
    color: #4f5e75;
  }
  & > p {
    color: var(--color-text);
  }
}

.phoneContainer {
  display: flex;
  align-items: center;
  gap: vw-1490(8);
}
