@import "../../../shared/styles/functions";

.container {
  width: 100%;

  & > h3 {
    margin-bottom: vw-1490(24);
  }

  @media (max-width: 768px) {
    & > h3 {
      text-align: center;
    }
  }
}
.inputsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: vw-1490(32) vw-1490(25);

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.inputContainer {
  display: flex;
  flex-direction: column;

  gap: vw-1490(8);
}

.button {
  display: flex;
  text-decoration: underline;
  margin: vw-1490(24) 0 vw-1490(32) auto;

  @media (max-width: 768px) {
    margin: 20px auto 32px;
  }
}

.buttonsContainer {
  display: flex;
  gap: vw-1490(20);
  justify-content: right;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logutButton {
  width: fit-content;
  height: vw-1490(58);

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}

.deleteButton {
  width: vw-1490(230);
  height: vw-1490(58);

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}
