@import "../../../shared/styles/functions";

.form {
  display: flex;
  flex-direction: column;
  gap: vw-1490(20);
  margin-bottom: vw-1490(16);

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  gap: vw-1490(8);

  @media (max-width: 768px) {
    gap: 6px;
  }
}

.input {
  height: vw-1490(58);
}

.passwordRecovery {
  display: flex;
  justify-content: center;
  margin-bottom: vw-1490(32);
  text-decoration: underline;

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.submitButton {
  height: vw-1490(58);

  @media (max-width: 768px) {
    height: 42px;
  }
}
