@import "../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: vw-1490(24);
  margin: 0 auto;

  margin-bottom: vw-1490(276);

  & > svg {
    color: var(--color-accent-green);
    width: vw-1490(64);
    height: vw-1490(64);
    @media (max-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }

  & > .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw-1490(20);
    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  & > .buttonsContainer {
    display: flex;
    gap: vw-1490(12);
    width: 100%;

    & > button,
    a {
      width: vw-1490(260);
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  @media (max-width: 768px) {
    width: 336px;
    gap: 20px;
  }
}
