@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;

  width: vw-1490(120);

  & > p {
    margin-bottom: vw-1490(6);
  }
}

.image {
  background-color: var(--color-grey-1);
  border-radius: vw-1490(6);
  margin-bottom: vw-1490(10);
}

.counterContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: vw-1490(72);
  height: vw-1490(36);

  border: 1px solid var(--color-grey-4);
  border-radius: 4px;

  overflow: hidden;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vw-1490(36);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  height: vw-1490(36);
  & > button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 50%;
    border: none;
    background-color: var(--color-grey-4);
    &:first-child {
      border-bottom: 1px solid var(--color-grey-1);
    }
  }
}
