.card {
    position: relative;
    width: 177px;

    & > h3 {
        margin-bottom: 12px;
    }
    & > p {
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        width: 160px;
        & > h3 {
            margin-bottom: 8px;
        }
        & > p {
            margin-bottom: 8px;
        }
    }
}
.image {
    background-color: var(--color-grey-1);
    border-radius: 6px;

    margin-bottom: 12px;
}
.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 768px) {
        gap: 8px;
    }
}
.shopButton {
    padding: 0;
    width: 36px;
    height: 36px;
}

.favoriteButton {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1000;
    padding: 0;
    color: #21253126;

}
.active {
    color: var(--color-accent-red);
}

.discount {
    color: var(--color-accent-red);
    & > span {
        color: var(--color-grey-2);
        text-decoration: line-through;
        margin-left: 8px;
    }
}