.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mapContainer {
    width: 100%; /* Ширина контейнера — 100% */
    height: 100%; /* Высота контейнера — 100% */
    position: relative;
  }
  
  .mapLink {
    color: #eee;
    font-size: 12px;
    position: absolute;
    z-index: 1;
  }
  
  .mapIframe {
    width: 100%; /* iframe займет всю ширину контейнера */
    height: 100%; /* iframe займет всю высоту контейнера */
    border: none; /* Убираем границу */
    position: absolute;
    top: 0;
    left: 0;
  }
  