.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > button {
        height: 58px;
    }

    @media (max-width: 768px) {
        & > button {
            height: 42px;
        }
    }
}

.inputContainer{
    display: flex;
    flex-direction: column;

    gap: 8px;

    @media (max-width: 768px) {
        gap: 6px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}