@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(24);

  & > button {
    height: vw-1490(58);
  }

  @media (max-width: 768px) {
    & > button {
      height: 42px;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  gap: vw-1490(8);

  @media (max-width: 768px) {
    gap: 6px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
}
