.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: 1296px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 16px;
    margin: 42px 0 32px;

    @media (max-width: 768px) {
        width: 336px;
        margin: 32px 0 20px;
    }
}
.elem {
    display: inline-flex;
    align-items: center;
    & > a {
        text-decoration: none;
        &:hover {
            color: var(--color-accent-orange);
        }
    }
}
.link {
    text-decoration: none;
    color: var(--color-text);
    &:hover {
        color: var(--color-accent-orange);
    }
}
.icon {
    margin: 0 8px;
    flex-shrink: 0;
    color: var(--color-accent-orange);
    width: 16px;
    height: 16px;
}

.li {
    display: inline-flex;
    align-items: center;
    text-align: center;
}