@import "../../../shared/styles/functions";

.order {
  display: flex;
  gap: vw-1490(40);
  @media (max-width: 768px) {
    gap: 12px;
  }
}

.container {
  display: flex;
  gap: vw-1490(40);
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
  }
}

.card {
  width: vw-1490(310);
  height: vw-1490(100);
  display: flex;
  align-items: center;
  gap: vw-1490(12);
  box-sizing: border-box;

  & > img {
    background-color: var(--color-grey-1);
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    width: 124px;
    background-color: var(--color-grey-1);
    padding: 12px;
    border-radius: 6px;
    gap: 10px;
    height: fit-content;
  }
}

.myPrice {
  display: flex;
  flex-direction: column;
  width: vw-1490(306);
  gap: vw-1490(8);

  @media (max-width: 768px) {
    width: 168px;
  }
}

.input {
  @media (max-width: 768px) {
    height: 36px;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  width: vw-1490(104);
  gap: vw-1490(8);
  & > p {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
