@import "../../shared/styles/functions";

.wrapper {
  width: 100%;
}
.containerMain {
  display: flex;
  justify-content: center;
  background-color: var(--color-text);
}
.containerInfo {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent-orange);
}
.contentMain {
  width: vw-1490(1296);
  height: 100%;
  padding: vw-1490(48) 0;
  display: flex;

  @media (max-width: 768px) {
    width: 375px;
    flex-direction: column;
    padding: 36px 0;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 20px;

  width: fit-content;
  height: fit-content;
  margin-right: vw-1490(85);
  & > a {
    color: var(--color-bg);
    font-size: 19px;
    font-weight: 500;
    line-height: 26.6px;
    text-decoration: none;

    &:hover {
      color: var(--color-accent-orange);
    }
  }

  @media (max-width: 768px) {
    align-items: center;
    margin: 0;
  }
}

.accordion {
  border-radius: 6px;
  background-color: #ffffff1a;
  padding: 5px;

  & > p,
  a {
    color: var(--color-bg);
    text-decoration: none;
    &:hover {
      color: var(--color-accent-orange);
    }
  }
}

.accordionTitle {
  color: var(--color-bg);
  text-decoration: none;
  &:hover {
    color: var(--color-accent-orange);
  }
}

.categoryes {
  width: 261px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  & > h4,
  p {
    color: var(--color-bg);
  }

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.categoryesContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(12);
  & > a {
    color: var(--color-bg);
    text-decoration: none;
    &:hover {
      color: var(--color-accent-orange);
    }
  }
  @media (max-width: 768px) {
    gap: 8px;
  }
}

.navigate {
  display: flex;
  flex-direction: column;
  gap: vw-1490(24);

  width: vw-1490(171);
  color: var(--color-bg);

  margin: 0 vw-1490(133) 0 vw-1490(67);
  & > h4 {
    color: var(--color-bg);
  }

  @media (max-width: 768px) {
    gap: 12px;
    margin: 0;
    width: 171px;
  }
}

.navigateContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(12);
  & > a {
    color: var(--color-bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      color: var(--color-accent-orange);
    }
  }

  @media (max-width: 768px) {
    gap: 8px;
    align-items: center;
  }
}

a.promotion {
  display: flex;
  gap: vw-1490(5);

  color: var(--color-accent-orange);
}

.phoneAndTime {
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
}

.phoneContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(6);
  & > a {
    color: var(--color-bg);
    &:hover {
      color: var(--color-accent-orange);
    }
    @media (max-width: 768px) {
      font-size: 19px;
      font-weight: 500;
      line-height: 26.6px;
    }
  }
}
.card {
  box-sizing: border-box;
  width: vw-1490(353);
  height: vw-1490(142);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 6px;
  background-color: #ffffff1a;
  padding: vw-1490(16);
  & > h6 {
    color: var(--color-bg);
    opacity: 0.6;
  }
  & > p {
    color: var(--color-bg);
    width: vw-1490(186);
    @media (max-width: 768px) {
      font-size: 19px;
      font-weight: 500;
      line-height: 26.6px;
      width: 186px;
    }
  }

  @media (max-width: 768px) {
    width: 214px;
    height: 142px;
    text-align: left;
    padding: 16px;
  }
}
.contentInfo {
  display: flex;
  align-items: center;
  color: var(--color-bg);
  padding: vw-1490(16) 0;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
  }
}
.icons {
  width: vw-1490(209);
  height: vw-1490(32);
  margin: 0 vw-1490(295) 0 vw-1490(429);

  display: flex;
  gap: vw-1490(20);
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.image {
  filter: brightness(0) invert(1);
}
