.content {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    
    width: 685px;
    height: 612px;
    padding: 32px;
    max-height: 100vh;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #7D7D7D4D;
    border-radius: 6px;
    background-color: white;

    overflow-y: auto;
    overflow-x: hidden;

    animation: fadeIn 0.3s ease-out;

    &::-webkit-scrollbar{
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: var(--color-grey-4);
        border-radius: 4px;
        &:hover {
            background-color: var(--color-grey-2);
        }
    }

    &::-webkit-scrollbar-track{
        background-color: transparent;
        border-radius: 4px;
    }
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imageCategory {
    border: 1px solid var(--color-accent-orange);
    border-radius: 50%;
}

.categoryItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.productsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}