@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(42);
}

.head {
  display: flex;
  gap: vw-1490(48);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.infoContainer {
  width: vw-1490(320);

  display: flex;
  flex-direction: column;
  gap: vw-1490(20);
  @media (max-width: 768px) {
    width: 336px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: vw-1490(12);
  & > p {
    display: flex;
    justify-content: space-between;
    & > span.title {
      opacity: 0.5;
    }
    & > span.value {
      font-weight: 700;
    }
  }
}

.priceContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: vw-1490(354);
  padding: vw-1490(24);

  border-radius: 6px;
  background-color: var(--color-bg);
  box-shadow: 6px 12px 13px 0px #2225310a;

  @media (max-width: 768px) {
    width: 336px;
    padding: 24px 16px;
  }
}
.price {
  display: flex;
  align-items: center;
  gap: vw-1490(8);

  margin: vw-1490(16) 0 vw-1490(20);
  & > h3 {
    color: var(--color-accent-red);
  }
  & > span {
    opacity: 0.6;
    text-decoration: line-through;
  }
  & .priceValue {
    color: var(--color-text);
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  & > button {
    height: vw-1490(58);
  }

  @media (max-width: 768px) {
    & > button {
      height: 42px;
    }
  }
}

.basketButton {
  width: vw-1490(236);
  @media (max-width: 768px) {
    width: 250px;
  }
}

.iconButton {
  width: vw-1490(58);
  color: var(--color-text);

  @media (max-width: 768px) {
    width: 42px;
    padding: 0;
  }
}

.active {
  color: var(--color-accent-red);
}

.description {
  display: flex;
  flex-direction: column;
  gap: vw-1490(32);
}

.elem {
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
}
