@import "../../../shared/styles/functions";

.main {
  display: flex;
  flex-direction: column;
  gap: vw-1490(32);
  text-align: center;
  align-items: center;

  @media (max-width: 768px) {
    gap: 24px;
  }
}
.bannersContainer {
  display: flex;
  gap: vw-1490(24);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.mobileContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1490(16);
}
