.trigger {
  cursor: pointer;    
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border: none;
  background-color: transparent;
  padding: 0;
  & > p {
      color: var(--color-grey-2);
  }
  & > svg {
    transition: transform 0.3s ease;
  }
}

.trigger[data-state=open] {
  & > svg {
    transform: rotate(180deg);
  }
}

.content {
  border: 1px solid #2125311A;
  border-radius: 4px;
  background-color: var(--color-bg);
  padding: 18px 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--color-grey-3);
  text-decoration: none;
  &:hover {
    border: none;
    outline: none;
    color: var(--color-accent-orange);
  }
}