.container {
    width: 1296px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.nav {
    display: flex;
    gap: 20px;
    & > h3 {
        cursor: pointer;
        padding: 6px 10px;
        background-color: var(--color-grey-1);
        border-radius: 4px;
        
        &.active {
            background-color: var(--color-accent-orange);   
            color: var(--color-bg);
        }
    }
}