.container {
    position: relative;

    display: flex;
    gap: 24px;
}
.banner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.smallBannerContainer {
    display: flex;
    gap: 24px;
}