.container {
    display: flex;
    gap: 24px;
    height: 416px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 12px;
    }
}
.imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    overflow-y: scroll;

    @media (max-width: 768px) {
        flex-direction: row;
        overflow-x: auto;
    }

    &::-webkit-scrollbar{
        width: 5px; 
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: var(--color-grey-4);
        border-radius: 4px;
        &:hover {
            background-color: var(--color-grey-2);
        }
    }

    &::-webkit-scrollbar-track{
        background-color: transparent;
        border-radius: 4px;
    }
}

.imageContainer {
    position: relative;
}

.image {
    box-sizing: border-box;
    object-fit: cover;
    border: 1px solid var( --color-grey-4);
    border-radius: 6px;
    cursor: pointer;
}

.tagsContainer {
    position: absolute;
    top: 28px;
    left: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    & > p {
        padding: 3px 8px;
        opacity: 0.6;
        width: fit-content;
        border-radius: 4px;
        color: var(--color-bg);

        &.promotion{
            background-color: var(--color-accent-red);
        }
        
        &.new{
            background-color: var(--color-accent-green);
        }
        
        &.popular{
            background-color: var(--color-accent-blue);

        }
    }
}