@import "../../shared/styles/functions";

.button {
  gap: vw-1490(6);
  color: var(--color-text);
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  margin-left: auto;
}

.dialogContent {
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: vw-1490(42) 0;
}

.closeButton {
  position: absolute;
  right: vw-1490(19);
  top: vw-1490(19);
}
