@import "../../../shared/styles/functions";

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(140);

  margin: 0 auto;
  margin-bottom: vw-1490(140);

  @media (max-width: 768px) {
    width: 336px;
    margin-bottom: 72px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1490(36);
  & > h1,
  h2 {
    text-align: center;
  }
}

.products {
  display: flex;
  gap: vw-1490(24);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
